USE [master]
GO
/****** Object:  Database [TaxCalculator]    Script Date: 9/15/2021 11:30:21 AM ******/
CREATE DATABASE [TaxCalculator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaxCalculator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TaxCalculator.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaxCalculator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TaxCalculator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaxCalculator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaxCalculator]
GO
/****** Object:  Table [dbo].[TblCalculationType]    Script Date: 9/15/2021 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCalculationType](
	[TaxTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaxTypeName] [varchar](100) NULL,
 CONSTRAINT [PK_TblCalculationType] PRIMARY KEY CLUSTERED 
(
	[TaxTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPostalCode]    Script Date: 9/15/2021 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPostalCode](
	[PostalCodeId] [int] IDENTITY(1,1) NOT NULL,
	[PostalCode] [varchar](50) NOT NULL,
	[TaxTypeId] [int] NOT NULL,
 CONSTRAINT [PK_TblPostalCode] PRIMARY KEY CLUSTERED 
(
	[PostalCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblRate]    Script Date: 9/15/2021 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblRate](
	[RateId] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [decimal](8, 2) NOT NULL,
	[FromRate] [decimal](18, 2) NOT NULL,
	[ToRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TblRate] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTaxCalculation]    Script Date: 9/15/2021 11:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTaxCalculation](
	[TaxCalculationId] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Name] [varchar](50) NULL,
	[TaxCalculated] [decimal](18, 2) NOT NULL,
	[AnnualIncome] [decimal](18, 2) NOT NULL,
	[CalculationType] [varchar](100) NULL,
 CONSTRAINT [PK_TaxCalculation] PRIMARY KEY CLUSTERED 
(
	[TaxCalculationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblPostalCode]  WITH CHECK ADD  CONSTRAINT [FK_TblPostalCode_TblCalculationType] FOREIGN KEY([TaxTypeId])
REFERENCES [dbo].[TblCalculationType] ([TaxTypeId])
GO
ALTER TABLE [dbo].[TblPostalCode] CHECK CONSTRAINT [FK_TblPostalCode_TblCalculationType]
GO
USE [master]
GO
